src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="be816ec9-8469-4f54-80f2-3d8011a8cd3e" >
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="a3366946-245e-45ae-b011-a30fad1998c6" >
		<http:listener doc:name="Listener" doc:id="4d0c9ab9-a2dc-428b-aa24-407c181c2c7d" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="54cb3c37-fc09-434c-b7fa-44461977131b" message='#["welcome to Mule World"]'/>
	</flow>
</mule>
